<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Market</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<div class="container mt-4">
    <div th:if="${message}" th:class="'alert alert-dismissible fade show ' + ('alert-' + (${messageType} ?: 'info'))"
         role="alert">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
    <div class="card">
        <div class="card-header">
            <h3>Welcome to Simple Market</h3>
        </div>
        <div class="card-body">
            <div class="container mt-4">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5 class="mb-0">Usuários</h5>
                    <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#userForm">
                        <i class="bi bi-plus-circle"></i>
                        Criar Usuário
                    </button>
                </div>
                <hr class="mb-4">
                <table class="table table-centered table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Login</th>
                        <th class="text-center">Tipo Usuário</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Data Cadastro</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td class="text-center" th:text="${#strings.capitalize(user.nome)}">Nome</td>
                        <td class="text-center" th:text="${user.login}">Login</td>
                        <td class="text-center" th:text="${#strings.capitalize(user.tipo_usuario.descricao)}">Tipo</td>
                        <td class="text-center" th:text="${user.ativo == 1 ? 'Ativo' : 'Inativo'}">Ativo</td>
                        <td class="text-center" th:text="${#temporals.format(user.data_cadastro, 'dd/MM/yyyy HH:mm')}">
                            Data
                        </td>
                        <td class="text-center">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown">
                                    Ações
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item text-primary edit-user" href="javascript:void(0);" th:data-id="${user.id}">
                                            <i class="bi bi-pencil-square me-2"></i> Editar
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger"
                                           href="#" th:href="@{/users/delete/{id}(id=${user.id})}">
                                            <i class="bi bi-trash me-2"></i> Deletar
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="userForm">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title">Criar Novo Usuário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body">
                    <form th:action="@{/users/create}" method="post">
                        <div class="mb-3">
                            <label for="userName" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="userName" name="nome" required>
                        </div>
                        <div class="mb-3">
                            <label for="userLogin" class="form-label">Login</label>
                            <input type="text" class="form-control" id="userLogin" name="login" required>
                        </div>
                        <div class="mb-3">
                            <label for="userType" class="form-label">Tipo Usuário</label>
                            <select class="form-select" id="userType" name="tipo_usuario" required>
                                <option value="">--Selecione--</option>
                                <option value="1">Caixa</option>
                                <option value="2">Gerente</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="userAtivo" class="form-label">Ativo</label>
                            <select class="form-select" id="userAtivo" name="ativo" required>
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Salvar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('.edit-user').click(function (e) {
            e.preventDefault();
            var userId = $(this).data('id');

            $.ajax({
                url: '/users/fetch/' + userId,
                method: 'GET',
                success: function (response) {
                    $('#userName').val(response.nome);
                    $('#userLogin').val(response.login);
                    $('#userType').val(response.tipo_usuario.id);
                    $('#userAtivo').val(response.ativo);

                    $('.offcanvas-title').text('Editar Usuário');
                    $('form').attr('action', '/users/edit/' + userId);

                    var offcanvas = new bootstrap.Offcanvas(document.getElementById('userForm'));
                    offcanvas.show();
                }
            });
        });
    });
</script>
</body>
</html>